.message-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
}

.message-form textarea {
    height: 70%;
    width: 80%;
}

.messages-options {
    margin: 1%;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.messages-list {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}