.modal-overlay {
  z-index: 9999;
  top: 0;
  background-color: #3A3335;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: #3A3335;
}

.modal-box {
  display: block;
  background-color: #FDF0D5;
  padding: 1rem;
  border-radius: 1rem;
}